<div class="p-3">
    <h1>Welcome <%= currentUser.firstName %></h1>
    <% if (stories.length === 0) {%>
        <h2>No stories told...yet</h2>
    <% } else { %>
        <div class="full-story p-5">

        
            <table class="mx-auto">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            <% stories.forEach(story=>{ %>
                <tr class="">
                    <td><a href='/stories/<%= story._id %>'><%= story.title %></a></td>
                    <td><%= story.createdAt.toLocaleDateString() %> </td>
                    <td class="">
                        <%= story.status %>
                    </td>
                    <td>
                        <!-- <form action="">
                            <input hidden type="text" name="story_id" value="<%= //story._id %>">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form> -->
                    </td>
                </tr>
                <% }) %>  
            </table>
        </div>
    <% } %>   
</div>
<div class="add-story">
    <a href="/addStory" class="btn btn-danger add-story-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</div>