<div class="p-3">
    <h1>Welcome <%= currentUser.firstName %></h1>
    <% if (stories.length === 0) {%>
        <h2>No stories told...yet</h2>
    <% } else { %>
        <div class="full-story mx-auto p-5">

        
            <table class="mx-auto">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            <% stories.forEach(story=>{ %>
                <tr class="">
                    <td><a href='stories/edit<%= story._id %>'><%= story.title %></a></td>
                    <td><%= story.createdAt.toLocaleDateString() %> </td>
                    <td class="">
                        <%= story.status %>
                    </td>
                    <td>
                        <form action="/stories/delete" method="POST">
                            <input hidden type="text" name="story_id" value="<%= story._id %>">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Delete" class="btn-outline-danger">
                        </form>
                    </td>
                </tr>
                <% }) %>  
            </table>
        </div>
    <% } %>   
</div>
<%- include('partials/_addStoryBtn.ejs') %> 